<?xml version="1.0"?>
<config>
    <modules>
        <SM_FirstModule>
            <version>0.0.1</version>
        </SM_FirstModule>
    </modules>
    <global>
        <models>
            <SM_FirstModule>
                <class>SM_FirstModule_Model</class>
            </SM_FirstModule>
        </models>
        <events>
            <controller_front_init_routers>
                <observers>
                    <SM_FirstModule_Model_observer>
                        <type>singleton</type>
                        <class>SM_FirstModule_Model_Observer</class>
                        <method>checkForConfigRequest</method>
                    </SM_FirstModule_Model_observer>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
</config>